<div ng-controller = 'Sessionctrl'>
    <input type="button" value="Logout" ng-click="logout()" style="float: right;">
</div>
 <link  href='./css/chat.css ' rel="stylesheet" type="text/css" />
           <!--  <div class="row">
                <div class="col-md-4 user-list">
                <h4>List of Users</h4>
                <ul class="list-group">
                    <li  class="list-group-item" 
                        ng-repeat="user in userList"
                        ng-class="{ 'active' : user.id == selectedUser}"
                        ng-click = seletedUser(user.id);
                        ng-style="{
                            'cursor': user.id === socketId ? 'not-allowed' :'pointer'
                        }"
                        >
                        <span id='{{user.id}}' >{{ user.id === socketId ? 'You': user.userName }}</span>
                    </li>
                </ul>
                    
                </div>
                <div class="col-md-8 message-box">
                    <h5>Messages sent by users</h5>
                    <div class="message-container">
                        <ul class="list-group">
                            <li class="list-group-item" 
                                ng-repeat="message in messages"
                                >
                                {{ message.name }} says: {{ message.msg }}
                            </li>
                        </ul>
                        <div class="alert alert-warning" ng-show='messages.length == 0'>
                            No messages for you.
                        </div>
                    </div>
                    <div class="message-sender">
                        <textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"  placeholder="Type your message here...">
                          </textarea>
                    </div>
                </div> -->
                {{userList}}
                <div class="chat_box">
    <div class="chat_head"> Chat Box</div>
    <div class="chat_body"> 

    <div class="user"> <ul class="list-group">
                    <li  class="list-group-item" 
                        ng-repeat="user in userList"
                        ng-class="{ 'active' : user.id == selectedUser}"
                        ng-click = seletedUser(user.id);
                        ng-style="{
                            'cursor': user.id === socketId ? 'not-allowed' :'pointer'
                        }"
                        >
                        <span id='{{user.id}}' >{{ user.id === socketId ? 'You': user.userName }}</span>
                    </li>
                </ul></div>
    </div>
  </div>

<div class="msg_box" style="right:290px">
    <div class="msg_head">{{selectedUser}}
    <div class="close">x</div>
    </div>
    <div class="msg_wrap">
        <div class="msg_body">
           <div class="message-container">
                        <ul class="list-group">
                            <li class="list-group-item" 
                                ng-repeat="message in messages"
                                >
                                {{ message.name }} says: {{ message.msg }}
                            </li>
                        </ul> </div> 
            <div class="msg_push"></div>
        </div>
    <div class="msg_footer"><textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"  placeholder="Type your message here...">
                          </textarea></div>
</div>
</div>

 
  
 

 

 